<!-- Todo html -->
<section id="todoapp">
	<!-- header [todos] and input new-todo -->
	<header id="header" >
		<h1>Todos</h1><br/>
		<input id="new-todo" class="input-xlarge" placeholder="What needs to be done?" autofocus ><br/>
	</header>
		
	<!-- todo-list  -->
	<section id="main">
		<!-- select all checkboxes -->
		<input id="toggle-all" type="checkbox">
		<ul id="todo-list"> </ul>
	</section>
	
	<!-- footer functions:[todo-count], [filters], [clear-completed]-->
	<footer id="footer"> </footer>
</section>